/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

h1 {
  color: #293132;
}

.hero-block {
  height: 65vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles {
  font-size: 30px;
  text-align: center;
}

.hero-block h1:nth-child(2) {
  font-size: 25px;
}

.social-link {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.fa-chevron-down {
  position: absolute;
  bottom: 15px;
}

.curved-border {
  /* border: solid 1px black; */
  width: 100vw;
  position: absolute;
  bottom: 0;
}

button {
  display: block;
  font-weight: 300;
  font-size: 16px;
  color: slategrey;
  padding: 10px;
  border: solid slategrey 1px;
  align-self: flex-start;
  margin-bottom: 15px;
}
